#category-greasemonkey-user-script > .category-icon,
.addon[type=greasemonkey-user-script] .icon,
#detail-view[type=greasemonkey-user-script] #detail-icon
{
  list-style-image: url(chrome://greasemonkey/skin/icon32.png);
}

#greasemonkey-sort-bar {
  display: none;
}

page.greasemonkey #greasemonkey-sort-bar {
  display: -moz-box;
}

page.greasemonkey #addon-list-empty,
#user-script-list-empty
{
  display: none;
}
page.greasemonkey #user-script-list-empty {
  display: -moz-box;
}

/* Hide the 'restart now' link for user scripts. */
.greasemonkey #addon-list button[command=cmd_restartApp] {
  display: none;
}

/* Do not show native items when view is user scripts. */
#addonitem-popup[addontype="greasemonkey-user-script"] menuitem:not(.greasemonkey),
#addonitem-popup[addontype="greasemonkey-user-script"] menuseparator:not(.greasemonkey),
/* Do not show user script items when view is native. */
#addonitem-popup:not([addontype="greasemonkey-user-script"]) .greasemonkey
{
  display: none !important;
}

/* Do show all items (even disabled ones!) when view is user scripts. */
#addonitem-popup[addontype="greasemonkey-user-script"] .greasemonkey
{
  display: -moz-box !important;
}
