#category-scripts > .category-icon,
.addon[type=user-script] .icon,
#detail-view[type=user-script] #detail-icon
{
  list-style-image: url(chrome://greasemonkey/skin/icon_medium.png);
}

.addon.addon-view[type="user-script"] .details.button-link {
  display: none !important;
}

#greasemonkey-sort-bar {
  display: none;
}

page.greasemonkey #greasemonkey-sort-bar {
  display: -moz-box;
}
