cludes {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#clude-editor-editable');
}
.include cludes.readonly {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#clude-editor-readonly-include');
}
.match cludes.readonly {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#clude-editor-readonly-match');
}
#vboxUserCludeMatch #btnUserClude {
  visibility: hidden;
}
.exclude cludes.readonly {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#clude-editor-readonly-exclude');
}
