#greasemonkey-tbb {
  list-style-image: url("chrome://greasemonkey/skin/icon24.png");
}
toolbar[iconsize="small"] #greasemonkey-tbb {
  list-style-image: url("chrome://greasemonkey/skin/icon16.png");
}

#greasemonkey-tbb[disabled="yes"] {
  opacity: 0.8;
}
#greasemonkey-tbb[disabled="yes"] .toolbarbutton-text {
  text-decoration: line-through;
}
#greasemonkey-tbb[disabled="yes"] .toolbarbutton-icon {
  opacity: 0.5;
}

/* The "blank" ID prevents loops; it's not on the replacement. */
#greasemonkey-tbb menupopup#blank {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#greasemonkey-tbb')/**/
}

.popup-notification-icon[popupid="greasemonkey-grants"],
.popup-notification-icon[popupid="greasemonkey-notification"]
{
  list-style-image: url("chrome://greasemonkey/skin/icon32.png");
}

.greasemonkey-tooltip-version {
  font-weight: bold;
}
.greasemonkey-tooltip-total {
  border-top: 1px gray dotted;
  margin-top: 5px;
  padding-top: 5px;
}
.greasemonkey-tooltip-total,
.greasemonkey-tooltip-active
{
  display: none;
}
.greasemonkey-tooltip-isActive .greasemonkey-tooltip-total,
.greasemonkey-tooltip-isActive .greasemonkey-tooltip-active
{
  display: -moz-box;
}
