#greasemonkey-tbb {
  list-style-image: url("chrome://greasemonkey/skin/icon24.png");
}
toolbar[iconsize="small"] #greasemonkey-tbb {
  list-style-image: url("chrome://greasemonkey/skin/icon16.png");
}

#greasemonkey-tbb[disabled="yes"] {
  opacity: 0.8;
}
#greasemonkey-tbb[disabled="yes"] .toolbarbutton-text {
  text-decoration: line-through;
}
#greasemonkey-tbb[disabled="yes"] .toolbarbutton-icon {
  opacity: 0.5;
}

/* The "blank" ID prevents loops; it's not on the replacement. */
#greasemonkey-tbb menupopup#blank {
  -moz-binding: url('chrome://greasemonkey/content/bindings.xml#greasemonkey-tbb')/**/
}

.popup-notification-icon[popupid="greasemonkey-grants"],
.popup-notification-icon[popupid="greasemonkey-notification"]
{
  list-style-image: url("chrome://greasemonkey/skin/icon32.png");
}

#mc-panel,
#mc-entry,
#mc-list {
  -moz-appearance: none;
  outline: none;
  margin: 0;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  padding: 10px;
}

#mc-panel {
  background-color: rgba(255,255,255,.8);
  width: 320px;
  height: 50px;
}

#mc-entry,
#mc-list {
  background-color: #fff;
  font: 20px/1.4 Arial, sans-serif;
  margin: 5px 0;
}