cludes {
  /*
  XUL flex will expand to an appropriate height.
  Just don't start too tall.  (See #2191)
  */
  height: 0;
  min-width: 500px;
}

@media (max-height: 1080px) {
  cludes {
    max-height: 150px;
  }
}
