body {
  cursor: default;
  font: caption;
  min-width: 21em;
}


body #user-script, body.detail #menu { display: none; }
body #menu, body.detail #user-script { display: block; }
#templates { display: none; }


.menu-item {
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
}
.menu-item .icon {
  min-width: 1.5em;
  /*
  margin-left: -6px;
  padding-right: 6px;
  */
}
.menu-item .icon img {
  height: 1em;
  margin-top: 3px;
  max-width: 1em;
}
.menu-item.disabled {
  color: #999;
}
.menu-item.disabled .icon img {
  opacity: 0.66;
}
.menu-item .text {
  flex-grow: 1;
}
.menu-item:hover {
  background: #EEE;
}

hr {
  margin: 1px 0;
}


header {
  display: flex;
  flex-direction: row;
}
header * {
  display: inline-block !important;
  padding: 6px;
  vertical-align: middle;
}
header #back {
  padding: 8px 6px 4px 6px;
}
header #back:hover {
  background: #EEE;
}
header #name {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}
