:root {
  --focus-color: hsla(0, 0%, 80%, 0.3);
  --max-height: 600px;
}


html, body {
  margin: 0;
  padding: 0;
}
body {
  cursor: default;
  font: caption;
  width: 300px;
  overflow: hidden;
}
body#rendering { display: none; }


#script-list-scroll {
  max-height: 380px;
  overflow-y: auto;
}

hr {
  margin: 6px 0;
}

/******************************** SECTIONS ***********************************/

section {
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition-duration: 0.15s;
  transition-property: margin-left;
  width: 100vw;
}

section.user-script {
  position: absolute;
  top: 0;
  left: 100vw;
}

body#user-script section { margin-left: -100vw; }

/********************************** MENUS ************************************/

menu {
  margin: 0;
  padding: 0;
}
menuitem {
  display: block;
  overflow-x: hidden;
  padding: 4px 12px 4px 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
menuitem:focus {
  background-color: hsla(0, 0%, 80%, 0.3);
  outline: none;
}
menuitem.disabled * {
  opacity: 0.65;
}

menuitem .icon {
  font-size: 14px;
  margin-right: 3px;
  text-align: center;
  width: 16px;
}
menuitem .icon img {
  object-fit: contain;
  max-height: 16px;
  width: 16px;
}

menuitem.user-script {
  padding-right: 24px;
}
menuitem.user-script .arrow {
  background: url(/skin/next.svg) center center no-repeat;
  display: inline-block;
  height: 100%;
  opacity: 1.0;
  position: absolute;
  right: 12px;
  top: 0;
  transform: rotate(180deg);
  width: 12px;
}

menu heading {
  color: #333;
  font-style: italic;
  padding-left: 21px;
}

/***************************** SCRIPT DETAIL *********************************/

menuitem#back {
  box-sizing: content-box;
  color: inherit;
  display: inline-block;
  height: 16px;
  margin: 4px 4px 0 4px;
  padding: 8px;
  vertical-align: -10px;  /* Relative to text, after padding. */
  width: 16px;
}
menuitem#back:hover {
  background-color: var(--focus-color);
}
menuitem#back::before {
  content: url(/skin/back.svg);
}


section header {
  color: -moz-fieldText;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


section.user-script p {
  margin: 0;
  padding: 4px 12px 4px 10px;
}
