html, body {
  background: lightgrey;
  height: calc(100% - 8px);
  margin: 0;
  overflow: hidden;
  padding: 4px;
}


#tabs {
  margin-bottom: -1px;
  margin: 0;
  padding: 0;
  position: relative;
  /* TODO: Not so ugly. */
  overflow-x: auto;
  white-space: nowrap;
}
#tabs .tab {
  background: grey;
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: smaller;
  list-style: none;
  margin: 0;
  margin-left: 1ex;
  padding: 4px 8px;
  -moz-user-select: none;
}
#tabs .tab.active {
  background: white;
}
#tabs .tab.dirty::after {
  content: "*";
}

.tab-bar {
  display: flex;
}
.command-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  background: whitesmoke;
  -moz-user-select: none;
}
.command-item:hover {
  background: #e5e5e5;
}

body, #editor, .CodeMirror {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: fill;

}
#editor .CodeMirror {
  height: 0;
  background: white;
}
