html, body {
  background: lightgrey;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 4px;
  font-size: 12px;
}

body.save #modal {
  display: grid;
}
body #modal {
  display: none
}

#modal {
  background-color: #A3A3A363;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
#modal .panel {
  background-color: #FCFCF9;
  border: 1px solid #CCC;
  border-radius: 1.7px;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 4;
  grid-row: 2;
  padding: 1rem;
}

#modal .fa {
  font-size: 25px;
  margin-right: 10px;
  vertical-align: unset;
}
#modal h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 25px;
  margin: 0;
}
#modal header {
  border-bottom: 1px solid #CCC;
}
#modal footer button {
  float: right;
  font-size: 15px;
  width: 140px;
}
#modal .panel-body {
  font-size: 14px;
  padding: 10px 0;
  flex-grow: 2;
}


#tabs {
  margin: 0;
  padding: 0;
  position: relative;
  /* TODO: Not so ugly. */
  overflow-x: auto;
  white-space: nowrap;
}
#tabs .tab {
  background: grey;
  cursor: default;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: smaller;
  list-style: none;
  margin: 0 0 0 1ex;
  padding: 4px 8px;
  -moz-user-select: none;
}
#tabs .tab.active {
  background: white;
}
#tabs .tab.dirty::after {
  content: "*";
}

.tab-bar {
  display: flex;
}
.command-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
  background: whitesmoke;
  -moz-user-select: none;
}
.command-item:hover {
  background: #e5e5e5;
}

body, #editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: fill;
}
#editor {
  height: 0;
  background: white;
}
.CodeMirror {
  height: 100% !important;
}
/* Required due to inclusiong of shoelace.css */
.CodeMirror pre {
  line-height: 14px !important;
}
