
dialog#manage-window {

}


#ctlHeader {
  margin: 0px 5px 5px 5px; 
  border: 2px solid; 
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow; 
  -moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow; 
  -moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow; 
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow; 
  padding: 5px 8px; 
  background-color: Highlight; 
  color: HighlightText; 
  font-size: 1.5em; 
  height: 2em;
}

#ctlDescription {
  margin-top:.5em; 
  margin-bottom:.5em; 
  height:3em; 
  max-height:3em;
}