/* Reference: https://firefoxux.github.io/StyleGuide/ */
:root {
  --dialog-max-width: 456px;
}

html, body {
  font: caption;
  overflow: hidden;
  overflow-y: auto;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  padding: 1em;
  width: var(--dialog-max-width);
}


body.install #loading,
body.install #result,
body.loading #install,
body.loading #result,
body.result #install,
body.result #loading
{ display: none; }


section, .spacer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/******************************** LOADING ************************************/

/******************************** INSTALL ************************************/

#install header {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  margin-bottom: 1em;
}
#install header img {
  height: 40px;
  object-fit: contain;
  padding-right: 10px;
  width: 40px;
}
#install header .name {
  font-size: 20px;
  line-height: 40px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#install header .version {
  color: GrayText;
  float: right;
  font-size: 16px;
  line-height: 44px;
  margin-left: 10px;
}

#details {
  border: 1px solid lightgrey;
  border-radius: 4px;
  max-height: calc(100vh - 197px);
  overflow-y: auto;
  padding: 16px;
}
#details > * {
  margin: 1ex 0;
}
#details p,
#details ul
{ margin: 0; }

progress {
  margin: 1em;
  width: -moz-available;
}

.text strong {
  font-size: 1.2em;
}

#install #footer #options,
#install #footer #actions
{
  margin-top: 1em;
}

#install #footer #options label {
  display: block;
  margin-bottom: 1ex;
  margin-left: 0;
}
#install #footer #options label * {
  vertical-align: top;
}

#install #footer #actions {
  display: flex;
}
#install #footer #actions button {
  flex-grow: 3;
  width: 0;
}

/******************************** RESULT ************************************/
