html, body {
  font: caption;
  overflow: hidden;
  overflow-y: auto;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  padding: 1em;
}


body.install #loading,
body.install #error,
body.loading #install,
body.loading #error,
body.error #install,
body.error #loading
{ display: none; }

section, .spacer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/******************************** LOADING ************************************/

body.loading #actions { display: none; }

#loading .fa {
  margin: auto;
}

/******************************** INSTALL ************************************/

#header {
  width: 100%;
}
#header td {
  border: none;  /* override shoelace */
}
#header td.icon {
  height: 40px;
  padding: 0;
  vertical-align: top;
  width: 40px;
}
#header td.icon img {
  height: 40px;
  object-fit: contain;
  padding-right: 10px;
  width: 40px;
}
#header td.name {
  font-size: 20px;
  max-width: 150px;  /* Value from trial and error, usually works well. */
  overflow-x: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header td.version {
  color: GrayText;
  padding: 0;
  text-align: right;
}

#details {
  border: 1px solid lightgrey;
  border-radius: 4px;
  max-height: calc(100vh - 197px);
  overflow-y: auto;
  padding: 16px;
}
#details > * {
  margin: 1ex 0;
}
#details p,
#details ul
{ margin: 0; }

progress {
  margin: 1em;
  width: -moz-available;
}

.text strong {
  font-size: 1.2em;
}

#install #footer #options,

#install #footer #options label {
  display: block;
  margin-bottom: 1ex;
  margin-left: 0;
}
#install #footer #options label * {
  vertical-align: top;
}

/********************************* ERROR *************************************/

#error header {
  font-size: 20px;
}

#error li {
  padding-top: 1ex;
}

/******************************** ACTIONS ************************************/

#actions {
  display: flex;
  margin-top: 1em;
}

#actions button {
  flex-grow: 3;
  width: 0;
}
