/* Reference: https://firefoxux.github.io/StyleGuide/ */
:root {
  --dialog-max-width: 456px;
}

html, body {
  font: caption;
  overflow: hidden;
  overflow-y: auto;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  padding: 1em 0;
  width: var(--dialog-max-width);
}

body.result #install,
body.result .panel-section-footer,
body.install #result
{ display: none; }

header {
  -moz-box-align: center;
  display: -moz-box;
  height: 32px;
  margin-bottom: 1em;
  width: var(--dialog-max-width);
}
header h1 {
  -moz-box-flex: 1;
  display: -moz-box;
  font-size: 20px;
  overflow-x: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
}
header .icon {
  font-size: 14px;
  text-align: center;
  width: 32px;
}
header .icon img {
  object-fit: contain;
  height: 32px;
  width: 32px;
}
header::after {
  margin-inline-start: 10px;
  content: attr(version);
  float: right;
  font-size: 16px;
  color: GrayText;
}

#install {
  display: flex;
  flex-direction: column;
}
#install, .spacer {
  flex-grow: 1;
}

#details {
  border: 1px solid lightgrey;
  border-radius: 4px;
  max-height: calc(100vh - 197px);
  overflow-y: auto;
  padding: 16px;
}

#details > * {
  margin-top: 1em;
}
#details #apis {
  margin-top: 0;
}
#details p,
#details ul
{ margin: 0; }

.text strong {
  font-size: 1.2em;
}


progress {
  height: 17px;
  margin: 13px;
  width: -moz-available;
}


#footer #actions {
  display: flex;
}
#footer #actions button {
  flex-grow: 3;
  width: 0;
}
