body {
  margin: 2em;
}
body.rendering {
  display: none;
}

#user-scripts ul li {
  display: grid;
  grid-template-columns: 2.5em calc(100% - 2.5em - 23em) 23em;
  margin: 1ex 0;
  padding: 0;
}
li.user-script {
  margin: 1ex;
  display: flex;
  flex: row;
}
li.user-script > div {
  flex: 0;
}

li.user-script .icon {
  display: inline-block;
  flex-grow: 0;
  width: 2em;
}
li.user-script .icon img {
  height: 2em;
  max-width: 2em;
}

li.user-script .name {
  flex: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li.user-script .buttons {
  display: flex;
  min-width: 20em;
}
li.user-script button {
  margin-left: 1ex;
  width: 100%; /* Shared within flex container. */
}
